In [111]:
import pandas as pd

In [119]:
csv_liste = [pd.read_csv('olist_customers_dataset.csv'),pd.read_csv('olist_geolocation_dataset.csv'),pd.read_csv('olist_order_items_dataset.csv'),pd.read_csv('olist_order_payments_dataset.csv'),pd.read_csv('olist_order_reviews_dataset.csv'),pd.read_csv('olist_orders_dataset.csv'),pd.read_csv('olist_products_dataset.csv'),pd.read_csv('olist_sellers_dataset.csv'),pd.read_csv('product_category_name_translation.csv')]
name_liste = ['customers','geolocalisation','order_item','payment','review','orders','product','sellers','translate']

In [120]:
df = {}
for key in name_liste:
    for value in csv_liste:
        df[key] = value
        csv_liste.remove(value)
        break
for k,v in df.items():
    k=v
    k.drop_duplicates(inplace=True)
    k.dropna(inplace=True)

In [123]:

liste1 = df['translate'].product_category_name.tolist()
liste2 = df['translate'].product_category_name_english.tolist()
dict = {}
for key in liste1:
    for value in liste2:
        dict[key] = value
        liste2.remove(value)
        break
df['product'].product_category_name=df['product'].product_category_name.map(dict)

In [124]:
df['product']

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumery,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,art,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,sports_leisure,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,baby,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,housewares,37.0,402.0,4.0,625.0,20.0,17.0,13.0
...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,furniture_decor,45.0,67.0,2.0,12300.0,40.0,40.0,40.0
32947,bf4538d88321d0fd4412a93c974510e6,construction_tools_lights,41.0,971.0,1.0,1700.0,16.0,19.0,16.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,bed_bath_table,50.0,799.0,1.0,1400.0,27.0,7.0,27.0
32949,83808703fc0706a22e264b9d75f04a2e,computers_accessories,60.0,156.0,2.0,700.0,31.0,13.0,20.0
32950,106392145fca363410d287a815be6de4,bed_bath_table,58.0,309.0,1.0,2083.0,12.0,2.0,7.0

In [54]:
review = pd.read_csv('olist_order_reviews_dataset.csv')
orders_list = pd.read_csv('olist_orders_dataset.csv')
payment = pd.read_csv('olist_order_payments_dataset.csv')
order_item = pd.read_csv('olist_order_items_dataset.csv')

In [ ]:
orders_list[~orders_list.order_id.isin(liste)] #regardez les orders _id qui ne sont pas